<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <form th:action="@{/manage/category}" method="post" th:object="${inputs}">
            <div class="my-3 p-2 bg-light rounded">
                <div id="categoryList" class="wrap">
                    <div th:if="${category.depth == 1}"
                         th:each="category : ${categoryDto.categories}"
                         th:id="${category.name}">
                        <div class="px-3 py-2 border bg-white fw-bold"
                             th:text="|${category.name}|">
                        </div>
                        <div>
                            <div th:if="${child.depth ==2}"
                                 th:each="child : ${category.children}"
                                 class="ms-5">
                                <div class="px-3 py-2 border bg-white"
                                     th:text="|${child.name}|">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-3 py-2 border">
                    <button class="add_category_button btn btn-outline-secondary" type="button">+ 카테고리 추가</button>
                </div>
            </div>
            <div>
                <button class="btn" type="submit">변경사항 저장</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/updateCategory.js}"></script>
</body>
</html>