<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="categoryList" style="width:300px">
    <ul class="list-group">
            <li th:if="${category.level == 0}"
                th:each="category : ${categoryDto.categories}"
                class="list-group-item">
                <div class="py-2">
                    <a class="fw-bold"
                       th:href="@{/{categoryId}/ (categoryId=${category.id})}"
                       th:text="|${category.name}|">
                    </a>
                </div>
                <ul class="list-group">
                    <li th:if="${child.level != 0 and child.parent.id == category.id}"
                        th:each="child : ${category.children}"
                        class="list-group-item">
                        <div>
                            <a th:href="@{/{categoryId}/ (categoryId=${child.id})}"
                               th:text="|${child.name}|">
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
</ul>
</div>