<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"  />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
            <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" action="/register" method="post" th:object="${registerDto}">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" th:field="*{email}" placeholder="Email@example.com">
                    <label th:for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
                    <label th:for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                    <label th:for="password">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">confirm</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>