<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    a:link {
    text-decoration:none;
    color: black;
    }
    a:visited {
    text-decoration:none;
    color: black;
    }
    a:hover {
    text-decoration:underline;
    color: black;
    }
    a:active {
    text-decoration:none;
    color: black;
    }
</style>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <div class="d-flex">
            <div class="w-100">
                <div class="overflow-hidden border rounded">
                    <div class="my-5 mx-4 d-flex align-items-center">
                        <img th:src="'/images/' + ${member.imgUrl}"
                             alt="프로필 사진"
                             width="64"
                             height="64"
                             th:if="${member.imgUrl != null}" />
                        <img th:src="'/images/cafe_profile_363.png'"
                             alt="프로필 사진"
                             width="64"
                             height="64"
                             th:if="${member.imgUrl == null}" />
                        <div class="ms-3 fs-4 fw-bold" th:text="${member.username}" />
                    </div>
                    <div class="gap-4 d-flex position-relative col px-3 border-top bg-light">
                        <a class="overflow-hidden d-flex justify-content-center px-1 py-3 fw-semibold" href="">
                            <span>작성글</span>
                        </a>
                        <a class="overflow-hidden d-flex justify-content-center px-1 py-3" href="">
                            <span>작성댓글</span>
                        </a>
                        <a class="overflow-hidden d-flex justify-content-center px-1 py-3" href="">
                            <span>좋아요한 글</span>
                        </a>
                    </div>
                </div>
                <div class="mt-2 mb-5 pb-5 border-bottom">
                    <table class="table table-hover rounded-top" th:if="${!articles.empty}">
                        <thead class="table-light text-center">
                        <tr>
                            <th colspan="2" style="width:70%">제목</th>
                            <th>작성일</th>
                            <th>조회</th>
                            <th>좋아요</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article : ${articles}">
                            <td class="text-center" th:text="${article.id}"></td>
                            <td>
                                <a href="#"
                                   th:href="@{/{categoryId}/v/{articleId} (categoryId=${article.category?.id},articleId=${article.id})}"
                                   th:text="${article.title}"></a>
                            </td>
                            <td class="text-center" th:text="${article.createdAt}"></td>
                            <td class="text-center" th:text="${article.viewCount}"></td>
                            <td class="text-center" th:text="${article.voteCount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>