<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"  />
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/login}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username", name="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password", name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
                <p class="find"><a href="/forgot">아이디/비밀번호 찾기</a></p>
                <p class="register">
                    <span>처음이신가요?</span>
                    <a href="/register">회원가입</a>
                </p>
            </form>
        <div>
    </div>
</body>
</html>