<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>username</th>
                <th>email</th>
                <th>createdDate</th>
                <th>lastPasswordChanged</th>
                <th>게시글수</th>
                <th>댓글수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td>
                    <a th:href="@{/members/{memberId}/ (memberId=${member.id})}"
                       th:text="${member.username}"></a>
                </td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.createdDate}"></td>
                <td th:text="${member.lastPasswordChanged}"></td>
                <td th:text="${#lists.size(member.articles)}"></td>
                <td th:text="${#lists.size(member.comments)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>