<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>게시판명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td>
                    <a href="#"
                       th:href="@{/{categoryId} (categoryId=${category.id})}"
                       th:text="${category.name}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>