<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <div style="width:300px">
            <nav>
                <ul class="list-group">
                    <li th:each="categoryDto : ${categoryDtos}" th:if="${categoryDto.category.parent == null}" class="list-group">
                        <a class="py-3 fw-bold"
                           th:href="@{/{categoryId}/ (categoryId=${categoryDto.category.id})}"
                           th:text="|${categoryDto.category.name} (${categoryDto.articleCount})|">
                        </a>
                        <ul>
                            <li th:if="${categoryDto.category.parent != null}"
                                class="list-group-item border-top-0 border-bottom-0 border-end-0">
                                <a class="mb-2"
                                   th:href="@{/{categoryId}/ (categoryId=${categoryDto.category.id})}"
                                   th:text="|${categoryDto.category.name} (${categoryDto.articleCount})|">
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>


    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>