<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <div class="mb-2 p-4 bg-primary bg-opacity-10 rounded text-center">
            <h3 th:text="${category.name}"></h3>
        </div>
        <div>
            <button type="button" th:onclick="|location.href='@{/{categoryId}/new(categoryId=${category.id})}'|" class="btn btn-primary">글쓰기</button>
        </div>
        <div id="article_list_area">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th></th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                    <th>좋아요</th>
                </tr>
                </thead>
                <tobdy>
                <tr th:each="notice : ${notices}" class="bg-light">
                    <td class="text-danger fw-bold">공지</td>
                    <td>
                        <a href="#"
                           class="text-danger fw-bold"
                           th:href="@{/{categoryId}/v/{articleId} (categoryId=${notice.category?.id},articleId=${notice.id})}"
                           th:text="${notice.title}">
                        </a>
                        <span class="text-info" th:text="|[${notice.commentCount}]|"></span>
                    </td>
                    <td>
                        <a th:href="@{/members/{memberId}/ (memberId=${notice.author?.id})}"
                           th:text="${notice.author?.username}"></a>
                    </td>
                    <td th:text="${notice.createdAt}"></td>
                    <td th:text="${notice.viewCount}"></td>
                    <td th:text="${notice.likeCount}"></td>
                </tr>
                </tobdy>
                <tbody>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.id}"></td>
                    <td>
                        <a href="#"
                           th:href="@{/{categoryId}/v/{articleId} (categoryId=${article.category?.id},articleId=${article.id})}"
                           th:text="${article.title}">
                        </a>
                        <span class="text-info" th:text="|[${article.commentCount}]|"></span>
                    </td>
                    <td>
                        <a th:href="@{/members/{memberId}/ (memberId=${article.author?.id})}"
                           th:text="${article.author?.username}"></a>
                    </td>
                    <td th:text="${article.createdAt}"></td>
                    <td th:text="${article.viewCount}"></td>
                    <td th:text="${article.likeCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>