<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div>
    <header th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="container">
        <div id="title_area">
            <h3 class="fw-bold">전체글보기</h3>
        </div>
        <div>
            <div class="float-start">
                <span th:text="${#numbers.formatInteger(totalArticleCount, 0, 'COMMA')}" class="fw-semibold"></span>
                <span>개의 글</span>
            </div>
            <div class="float-end">
                <div class="d-inline-block">
                    <input type="checkbox" id="hideNotice" onclick="toggleCheckbox(this)">
                    <label for="hideNotice">공지 숨기기</label>
                </div>
                <div class="ms-3 ps-3 border-start d-inline-block">
                    <select id="size" class="form-control" onchange="selectSize()">
                        <option value="" selected="selected" hidden="hidden" th:text="|${param.size==null?20:param.size}개씩|"></option>
                        <option value="10" >10개씩</option>
                        <option value="20">20개씩</option>
                        <option value="30">30개씩</option>
                        <option value="50">50개씩</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="article_list_area">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th></th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                    <th>좋아요</th>
                </tr>
                </thead>
                <tbody id="noticeArticles">
                    <tr th:each="notice : ${notices}" class="bg-light">
                        <td class="text-danger fw-bold">공지</td>
                        <td>
                            <a href="#"
                               class="text-danger fw-bold"
                               th:href="@{/{categoryId}/v/{articleId} (categoryId=${notice.categoryId},articleId=${notice.id})}"
                               th:text="${notice.title}">
                            </a>
                            <span class="text-info" th:text="|[${notice.commentCount}]|"></span>
                        </td>
                        <td>
                            <a th:href="@{/members/{memberId}/ (memberId=${notice.authorId})}"
                               th:text="${notice.authorName}"></a>
                        </td>
                        <td th:text="${notice.createdAt}"></td>
                        <td th:text="${notice.viewCount}"></td>
                        <td th:text="${notice.likeCount}"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="article : ${articles}">
                    <td>
                        <a class="fs-6"
                           th:href="@{/{categoryId}/ (categoryId=${article.categoryId})}"
                           th:text="${article.categoryName}"></a>
                    </td>
                    <td>
                        <a href="#"
                           th:href="@{/{categoryId}/v/{articleId} (categoryId=${article.categoryId},articleId=${article.id})}"
                           th:text="${article.title}"></a>
                        <span class="text-info" th:text="|[${article.commentCount}]|"></span>
                    </td>
                    <td>
                        <a th:href="@{/members/{memberId}/ (memberId=${article.authorId})}"
                           th:text="${article.authorName}"></a>
                    </td>
                    <td th:text="${article.createdAt}"></td>
                    <td th:text="${article.viewCount}"></td>
                    <td th:text="${article.likeCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <nav th:replace="fragments/pagination::pagination"></nav>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer" />
</div>
<script>
    const _totalCount = [[${totalArticleCount}]];
</script>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/pagination.js}"></script>
</body>
</html>