<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>category</th>
                <th>title</th>
                <th>author</th>
                <th>view count</th>
                <th>vote count</th>
                <th>created at</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.category?.name}"></td>
                <td>
                    <a href="#"
                       th:href="@{/{categoryId}/v/{articleId} (categoryId=${article.category?.id},articleId=${article.id})}"
                       th:text="${article.title}"></a>
                </td>
                <td th:text="${article.author?.username}"></td>
                <td th:text="${article.viewCount}"></td>
                <td th:text="${article.voteCount}"></td>
                <td th:text="${article.createdAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>