<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="container">
        <div class="mb-2">
            <a class="fs-3"
               th:href="@{/{categoryId}/ (categoryId=${category.id})}"
               th:text="${category.name}"></a>
        </div>
        <form method="post" th:action="@{/{categoryId}/new (categoryId=${category.id})}" th:object="${article}">
            <div>
                <div>
                    <label for="title">제목</label>
                    <input type="text" id="title" placeholder="제목을 입력해주세요." th:field="*{title}">
                </div>
                <div>
                    <label for="content">내용</label>
                    <input type="text" id="content" placeholder="내용을 입력해주세요." th:field="*{content}">
                </div>
            </div>
            <input type="submit" value="제출">
        </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>